{% extends 'NewscoopNewscoopBundle::admin_layout.html.twig' %}

{% block admin_title %} {{ parent() }} - {{ 'plugin.printissuemanager.label.title'|trans }}{% endblock %}
{% block admin_page_title_content %}{{ 'plugin.printissuemanager.label.title'|trans }} - {{ 'plugin.printissuemanager.label.config'|trans }}{% endblock %}
{% block admin_stylesheets %}
<link rel="stylesheet" href="{{ asset('/bundles/newscoopnewscoop/css/bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('/bundles/newscoopnewscoop/css/DT_bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('/bundles/newscoopprintissuemanager/css/print-issue-manager.css') }}">
{% endblock %}
{% block admin_scripts %}
<script type="text/javascript" src="{{ asset('/bundles/newscoopnewscoop/js/DT_bootstrap.js') }}"></script>
<script type="text/javascript">
    var trans = {
        'frozen': '{{ 'plugin.printissuemanager.label.frozen'|trans }}',
        'published': '{{ 'plugin.printissuemanager.label.published'|trans }}',
        'submitted': '{{ 'plugin.printissuemanager.label.submitted'|trans }}',
        'delete': '{{ 'plugin.printissuemanager.btn.delete'|trans }}',
        'preview': '{{ 'plugin.printissuemanager.btn.preview'|trans }}',
        'save': '{{ 'plugin.printissuemanager.btn.save'|trans }}',
        'search': '{{ 'plugin.newsletter.label.search'|trans }}',
        'saved': '{{ 'plugin.printissuemanager.label.saved'|trans }}',
        'processing': '{{ 'plugin.printissuemanager.label.processing'|trans }}',
        'articlesloaded': '{{ 'plugin.printissuemanager.label.articlesloaded'|trans }}',
        'chooseprintsection': '{{ 'plugin.printissuemanager.label.chooseprintsection'|trans }}', 
        'addnew': '{{ 'plugin.printissuemanager.label.addnew'|trans }}',
        'backtolist': '{{ 'plugin.printissuemanager.label.backtolist'|trans }}',
        'chooseprintstory': '{{ 'plugin.printissuemanager.label.chooseprintstory'|trans }}',
        'addnewone': '{{ 'plugin.printissuemanager.label.addnewone'|trans }}',
        'articlesaved': '{{ 'plugin.printissuemanager.msg.saved'|trans }}',
        'articleremoved': '{{ 'plugin.printissuemanager.label.articleremoved'|trans }}',
        'isfrozen': '{{ 'plugin.printissuemanager.label.isfrozen'|trans }}',
        'inlinediterror': '{{ 'plugin.printissuemanager.label.inlineediterror'|trans }}',
        'noarticles': '{{ 'plugin.printissuemanager.label.noarticles'|trans }}',
    };
</script>
{% endblock %}
{% block admin_content %}
{% for flashMessage in app.session.flashbag.get('error') %}
<div class="alerts alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ flashMessage }}
</div>
{% endfor %}
{% if iPadLinkParams is empty %}
<h5><div class="alert alert-info">{{ 'plugin.printissuemanager.msg.ipaderror'|trans }}</div></h5>
{% else %}
<div class="plugin-container">
    {% if typeIPadExists and typeMobileExists %}
    <form id="choose-issue" action="" method="POST">
        <select class="mobile_issues aaselect form-control" style="width: 300px;">
            {% if issues is empty %}
                <option>{{ 'plugin.printissuemanager.label.noissues'|trans }}</option>
            {% else %}
                {% for article in issues %}
                <option data-number="{{ article.number }}" data-language="{{ article.languageId }}" value="{{ article.number }}_{{ article.languageId }}" data-content-box-href="/admin/articles/context_box/popup.php?f_publication_id={{ article.publicationId }}&amp;f_issue_number={{ article.issue.number }}&amp;f_section_number={{ article.section.number }}&amp;f_article_number={{ article.number }}&amp;f_language_id={{ article.languageId }}&amp;f_language_selected={{ article.languageId }}">{{ article.name }}</option>
                {% endfor %}
            {% endif %}
        </select>
    </form>
        <div class="ipad-section">
            <h5>
                {{ 'plugin.printissuemanager.label.createnew'|trans }}
                <button type="button" class="btn btn-primary"><a href="/admin/articles/?f_publication_id={{ iPadLinkParams.publicationId}}&f_issue_number={{ iPadLinkParams.issueId}}&f_section_number={{ iPadLinkParams.number}}&f_language_id={{ iPadLinkParams.languageId}}">{{ 'plugin.printissuemanager.label.gotoipad'|trans }}</a></button>
            </h5>
        </div> 
    <div style="clear:both"></div>
    {% if issues is not empty %}
    <hr />
    <form action="{{ path('newscoop_printissuemanager_admin_loadarticles') }}" class="loadArticles">
        <input type="hidden" name="context_box_id" class="context_box_id" value="">
        <input type="hidden" name="article_number" class="article_number" value="">
        <input type="hidden" name="article_language" class="article_language" value="">
        <fieldset class="buttons">
            <h4 class="choosen-issue-name">{{ 'plugin.printissuemanager.msg.loading'|trans }}</h3>

            <div style="float:right;">
                <button type="submit" name="load-aricles" id="load-articles-button" class="btn btn-default">{{ 'plugin.printissuemanager.label.loadarticles'|trans }}</button>
                <div class="issues-range" style="float:left">
                    <label for="issues_range">{{ 'plugin.printissuemanager.label.from'|trans }} </label>
                    <select name="issues_range[]" id="issues-range" style="width:250px; margin-left: 35px;" multiple="multiple" class="aaselect form-control">
                    {% set i = 0 %}
                    {% for issue in latestPrintIssues %}
                        {% if i <= 4 %}
                            <option {% if i == 0 %} selected="selected" {% endif %}value="{{ issue.number }}_{{ issue.language.id }}">{{ issue.name }}</option>
                        {% endif %}
                        {% set i = i + 1 %}
                    {% endfor %}
                    </select>
                </div>
                <div class="content-box">
                    <button class="iframe btn btn-primary" type="button" >{{ 'plugin.printissuemanager.btn.addarticles'|trans }}</button>
                </div>
            </div>
        </fieldset>
    </form>
    <div style="clear:both"></div>

    <table cellpadding="0" cellspacing="0" border="0" class="datatable sortable table table-striped table-bordered issueArticles">
        <thead>
            <tr>
                <th style="width: 70px">{{ 'plugin.printissuemanager.btn.delete'|trans }}</th>
                <th style="width: auto;">{{ 'plugin.printissuemanager.label.articletitle'|trans }}</th>
                <th style="min-width: 90px;">{{ 'plugin.printissuemanager.label.webcode'|trans }}</th>
                <th style="width: 110px;">{{ 'plugin.printissuemanager.label.articletype'|trans }}</th>
                <th>{{ 'plugin.printissuemanager.label.section'|trans }}</th>
                <th>{{ 'plugin.printissuemanager.label.printsection'|trans }}</th>
                <th>{{ 'plugin.printissuemanager.label.printstory'|trans }}</th>
                <th style="width: 80px">{{ 'plugin.printissuemanager.label.prominent'|trans }}</th>
                <th style="width: 70px">{{ 'plugin.printissuemanager.btn.preview'|trans }}</th>
                <th style="width: 70px">{{ 'plugin.printissuemanager.btn.save'|trans }}</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <form method="post" action="{{ path('newscoop_printissuemanager_admin_savearticles') }}" class="saveArticles">
        <input type="hidden" name="context_box_articles" class="context_box_articles" value="">
        <input type="hidden" name="article_number" class="article_number" value="">
        <fieldset class="buttons">
            <p class="reordering-tip-label"><span class="label label-info">{{ 'plugin.printissuemanager.label.tip'|trans }}:</span> {{ 'plugin.printissuemanager.label.tipmsg'|trans }}</p>
            <input id="button-set-order" style="float:right" class="btn btn-default" type="submit" name="Save" value="{{ 'plugin.printissuemanager.btn.saveall'|trans }}">
        </fieldset>
    </form>

    <div id="formUpdateContainer" style="display:none">
        <form method="post" action="#" class="updateSingle">
            <input type="hidden" class="js-id" name="id" value="">
            <input type="hidden" class="js-language" name="language" value="">
            <input type="hidden" class="js-printsection" name="printsection" value="">
            <input type="hidden" class="js-printstory" name="printstory" value="">
            <input type="hidden" class="js-prominent" name="prominent" value="">
        </form>
    </div>
    <script type="text/javascript" src="{{ asset('/bundles/newscoopprintissuemanager/js/print-issue-manager.js') }}"></script>
    {% endif %}
    {% else %}
    <div class="alerts alert-danger alert-dismissable">
        {{ 'plugin.printissuemanager.label.notypes'|trans }}
    </div>
    {% endif %}
</div>
{% endif %}
{% endblock %}